<!DOCTYPE html>
<html>
  <head>
    <title>hapi.js university</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    {{#if admin}}
        <a href="/admin">Admin Panel</a>
    {{/if}}
    {{#if user}}
    <h2>Welcome {{user.username}}</h2>
    <input id="btnLogout" type="submit" value="Log Out">
    <a href="/home">Home</a>
    {{else}}
    <br/>
    <a href="/login">Login</a>
    {{/if}}
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script src="/scripts/logout.js"></script>
  </body>
</html>
